In [1]:
import pandas as pd
import json

def load_jsons(data_path, file):
    """ helper function to load '.json' files (they're not proper jsons) """
    file_path = data_path + file
    with open(file_path) as jsons:
        lines = [json.loads(json_line) for json_line in jsons]
    return pd.DataFrame(lines)

In [9]:
# Load data for town called Ambridge
data_path = './data/ambridge/'
review_file = 'review.json'
business_file = 'business.json'
user_file = 'user.json'
tip_file = 'tip.json'
checkin_file = 'checkin.json'

reviews = load_jsons(data_path, review_file)
businesses = load_jsons(data_path, business_file)
users = load_jsons(data_path, user_file)
tips = load_jsons(data_path, tip_file)
checkins = load_jsons(data_path, checkin_file)

In [10]:
display(reviews.head())
display(businesses.head())
display(users.head())
display(tips.head())
display(checkins.head())

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,qb2EVdmVNvw3D0kBMN6Xrg,hXydWH25S92HjI5hmWRSyA,dJ0R-XT78LUQeNHQkD-G9g,5.0,0,0,0,Best place to get ice cream. They have only tw...,2018-08-14 04:03:02
1,Ecr_pKR7786kmcLVXLp5NA,vo6vLeHoPl_h-Vt-YHs9_A,Q_0eGl-aElqHKukHvmLdwA,1.0,0,0,0,"Sorry to say, Nelias did not live up to the ot...",2015-12-05 23:21:39
2,Ro6-JL0KCS5JULXUNRST-w,i1qyYL4fpAel8Ljt4WaZ3g,Q_0eGl-aElqHKukHvmLdwA,1.0,0,0,0,Wouldn't give it one star if I could. This pla...,2015-08-07 19:33:13
3,tuDIfqFjtj5zTLjtY9W1Hg,dUOg3fS3RTYDZUpu0CqqiA,729grSa1Wsn-hfv7D5uOxg,5.0,2,0,1,Police Station Pizza has always been my favori...,2014-10-28 18:29:48
4,zw3oXGWKQdVjST5UI9kM3g,k2Bsnh6CV0HFX8RgGR1p9A,Q_0eGl-aElqHKukHvmLdwA,5.0,0,0,0,There is nothing fancy about this place - it i...,2013-04-13 15:58:06

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,dJ0R-XT78LUQeNHQkD-G9g,Ice Cream Therapy,400 Merchant St,Ambridge,PA,15003,40.584100,-80.225135,3.5,3,1,None,"Food, Ice Cream & Frozen Yogurt","{'Monday': '15:0-22:0', 'Tuesday': '15:0-22:0'..."
1,3gL18eXylqutlzqb6TmB0w,Action Tire Company,304 Duss Ave,Ambridge,PA,15003,40.582380,-80.223875,5.0,4,1,{'BusinessAcceptsCreditCards': 'True'},"Auto Repair, Smog Check Stations, Tires, Autom...","{'Monday': '6:30-16:0', 'Tuesday': '6:30-16:0'..."
2,Q_0eGl-aElqHKukHvmLdwA,Nelia's Smokehouse,603 Duss Ave,Ambridge,PA,15003,40.587939,-80.224885,4.0,18,0,"{'Alcohol': 'u'none'', 'OutdoorSeating': 'Fals...","Filipino, Food, Restaurants, Barbeque, Smokehouse","{'Monday': '11:0-19:0', 'Tuesday': '11:0-19:0'..."
3,Eu_zPTrNVAXkpdSxf7CJ2w,K & N Restaurant,755 Merchant St,Ambridge,PA,15003,40.588606,-80.229103,4.5,14,1,"{'BusinessAcceptsCreditCards': 'True', 'Restau...","Breakfast & Brunch, Restaurants, American (Tra...","{'Monday': '6:0-19:0', 'Tuesday': '6:0-19:0', ..."
4,Yjf0i2J9q52dYIT8UVGT3g,Heritage Floral Shoppe,663 Merchant St,Ambridge,PA,15003,40.587650,-80.228493,4.5,4,1,"{'BusinessParking': '{'garage': False, 'street...","Florists, Flowers & Gifts, Shopping","{'Monday': '9:0-16:0', 'Tuesday': '9:0-16:0', ..."

,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,fans,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,3FjdHwnoz-vfw6hBBtckqg,Maria,445,2008-03-26 18:35:10,718,193,377,"2008,2009,2014,2015,2016,2017,2018","lgKMgS9KCIo5olvvM5gClw, y6og6ueUObeQNYkzgNjZDg...",31,...,6,0,1,1,15,15,34,34,27,3
1,rCWrxuRC8_pfagpchtHp6A,Darren,1449,2009-02-06 06:45:55,17459,13033,14714,,"GvqIvPeMkchQ8jYhPY7lXg, 8ugd_yB1RecZMCWfSsr3GQ...",250,...,115,120,37,37,758,2123,1408,1408,1151,403
2,9YIEYRTM1-esrPtfTVU4LA,David,29,2014-05-18 22:53:49,63,14,14,"2016,2017","C4fKnSeNkD904ZeQLr5xVw, rVAiIWafD-4UuLLnjLzUMA...",4,...,0,0,0,0,1,2,1,1,1,0
3,_pLmakEC1U8UPpxCUk2ZAg,Erin,12,2010-10-21 23:00:28,8,2,2,,"wDF8cwQOjn87BjjPDr6vTw, uB4NDnKvS-O07cQ5pq_eCA...",0,...,0,0,0,0,0,0,1,1,0,0
4,ZnIaEvJwrxlBUjimIpx2Qw,Kat,240,2010-08-12 04:40:22,220,67,97,"2016,2017,2018","aPEj8geDZjVNT53wvsWEUQ, getX31OKf2IZ5QvpruTNtQ...",4,...,0,0,0,0,2,1,1,1,3,1

,user_id,business_id,text,date,compliment_count
0,LIHlbBXL5LsOyNpQVAU3lg,zBeUDwWx73QTZ34A1l0adQ,Good variety of pizza styles and prompt delivery.,2014-09-15 17:16:20,0
1,v2hPERrqGGxsfmT293q4mA,t_EiW3FlMnFTHyoeVU79xg,Try the Tortila Soup. It's probably premade bu...,2009-12-23 20:17:25,0
2,QGgWWhEi5R4SLAKN-xwtNQ,-InU2nAbC9AuS-Um2Cowgw,Order extra gravy. Its the best thing ever!,2014-03-31 17:51:13,0
3,wFFLWorAWh3hpxVLQP8YWw,-InU2nAbC9AuS-Um2Cowgw,Great stuffed pork chops,2017-06-29 18:01:15,0
4,43ItWfGULw_zl1y4GeqWNA,3gL18eXylqutlzqb6TmB0w,Emissions and state inspection done here also!,2014-06-03 17:51:39,0

              business_id                                               date
0  -InU2nAbC9AuS-Um2Cowgw  2010-03-26 21:53:47, 2010-10-19 00:05:02, 2011...
1  2_7lYF6P2cYKnSiPhhVyPQ  2013-04-05 17:42:18, 2017-10-06 23:21:16, 2018...
2  3gL18eXylqutlzqb6TmB0w  2014-05-12 17:45:25, 2014-05-14 19:58:00, 2014...
3  4mpSNvmyG89Uqy2ahP4JMQ  2018-03-23 22:18:30, 2018-05-09 19:35:15, 2018...
4  729grSa1Wsn-hfv7D5uOxg  2010-10-17 22:44:13, 2010-11-26 23:48:04, 2011...